<form method="POST" action=>
Insert </br>
<label for ='name'>name</label><input type ='text' id='name' name ='name'></br>
<label for = 'age'>age</label><input type= 'text' id ='age' name ='age'> </br>
<button>submit</button>
</form>