<% let messages = getMessages() 
   if(messages.error)%>
   <p style="color: red;"><%= messages.error %></p>
   <%if(messages.success) %>
   <p style="color: green;"><%=messages.success%></p> 
<form method ='post' enctype="multipart/form-data">
  <lable>caption</lable><input type= 'text' name='caption'> </br>
  <lable>picture</lable><input type='file' name = 'picture'></br>
  <lable>picture2</lable><input type='file' name = 'picture2'></br>
  <button>Submit</button>
</form>