<% let messages = getMessages()
   if(messages.error)%>
   <p style="color: red;"><%= messages.error %></p>
   <%if(messages.success) %>
   <p style="color: green;"><%= messages.success %></p>
</br>
<form method = post>
<label>email</label><input type ='email' name='email'> </br>
<label>password</label><input type ='password' name='password'></br>
<button>Submit</button>
</form>
</br>
<a href ='/register'>Register Here</a>