<% let messages = getMessages() 
   if(messages.error)%>
   <p style="color: red;"><%=messages.error %> </p>
  <% if(messages.success)%>
   <p style="color:green;"><%=messages.success %> </p>

<form method="POST">
<label>email</label><input type="email" name='email'> </br>
<label>password</label><input type='password' name='password'></br>
<label>confirm password</label><input type ='password' name= 'confirmPassword'></br>
<button>Submit</button>
</form>