<table>
<th>email</th> <th>username</th> <th>firstname</th> <th>lastname</th>

<% user.forEach(e => { %>
 <tr>
 <td><%= e.email %></td>
 <td><%= e.username %></td>
 <td><%= e.firstname %></td>
 <td><%= e.lastname %></td>
 </tr>      
<% }); %>


</table>